<h1>Hunt the Wumpus</h1>
<p><b>Objetivo:</b> Encontrar el lingote que se esconde en el tablero y salir vivo en el menor número de movimientos posible.</p>
<p>
  Usa los comandos para Avanzar, Girar, Lanzar una flecha o Salir.
</p>
<p>
  Si encuentras en tu misma casilla al Wumpus o un pozo mueres.
</p>
<p>
  Puedes ayudarte con percepciones al situarte en casillas adyacentes a:
</p>

<ul>
  <li>Wumpus: percibes su hedor.</li>
  <li>Pozo: percibes su brisa.</li>
  <li>Oro: percibes su brillo.</li>
  <li>Muro: percibes el choque.</li>
  <li>Si matas al Wumpus: percibes su grito.</li>
</ul>

<h3>Configuración:</h3>

<div>
  <label>
    Celdas:
    <input #cells id="cells" type="number" />
  </label>
</div>
<div>
  <label>
    Pozos:
    <input #wells id="wells" type="number" />
  </label>
</div>
<div>
  <label>
    Flechas:
    <input #arrows id="arrows" type="number" />
  </label>
</div>
<button id="button-start" (click)="start(cells.value, wells.value, arrows.value);">
  Nueva partida
</button>
