<h1>Hunt the Wumpus</h1>

<div class="content">

  <div class="content-left">
    <app-parameters></app-parameters>
    <app-status></app-status>
    <app-commands></app-commands>
    <app-board></app-board>
    <b> - SALIDA - </b>
  </div>

  <div class="content-right">
    <button id="button-exit" mat-stroked-button color="primary" (click)="menu()"
            matTooltip="Salir"
            matTooltipPosition="below">
      Volver al menú
    </button>
   <app-messages></app-messages>
  </div>

</div>


