<section id="comandos">
  <mat-list-item><h3>Comandos</h3></mat-list-item>
  <mat-divider></mat-divider>
  <br />
  <button id="button-left" mat-stroked-button color="primary" (click)="left()"
          matTooltip="Girar a la izquierda"
          matTooltipPosition="below">
    <mat-icon aria-hidden="false" aria-label="icon">undo</mat-icon>
  </button>
  <button id="button-move" mat-stroked-button color="primary" (click)="move()"
          matTooltip="Avanzar"
          matTooltipPosition="below">
    <mat-icon aria-hidden="false" aria-label="icon">upgrade</mat-icon>
  </button>
  <button id="button-right" mat-stroked-button color="primary" (click)="right()"
          matTooltip="Girar a la derecha"
          matTooltipPosition="below">
    <mat-icon aria-hidden="false" aria-label="icon">redo</mat-icon>
  </button>
  <button id="button-shoot" mat-stroked-button color="primary" (click)="shoot()"
          matTooltip="Disparar flecha"
          matTooltipPosition="below">
    <mat-icon aria-hidden="false" aria-label="icon">merge_type</mat-icon>
  </button>
</section>
