<br />
<mat-list-item>Comandos</mat-list-item>
<mat-divider></mat-divider>
<br />
<button mat-stroked-button color="primary" (click)="left()"
        matTooltip="Girar a la izquierda"
        matTooltipPosition="below">
  <mat-icon aria-hidden="false" aria-label="icon">undo</mat-icon>
</button>
<button mat-stroked-button color="primary" (click)="move()"
        matTooltip="Avanzar"
        matTooltipPosition="below">
  <mat-icon aria-hidden="false" aria-label="icon">upgrade</mat-icon>
</button>
<button mat-stroked-button color="primary" (click)="right()"
        matTooltip="Girar a la derecha"
        matTooltipPosition="below">
  <mat-icon aria-hidden="false" aria-label="icon">redo</mat-icon>
</button>
<button mat-stroked-button color="primary" (click)="shoot()"
        matTooltip="Disparar flecha"
        matTooltipPosition="below">
  <mat-icon aria-hidden="false" aria-label="icon">merge_type</mat-icon>
</button>

<button mat-stroked-button color="primary" (click)="exit()"
        matTooltip="Salir"
        matTooltipPosition="below">
  <mat-icon aria-hidden="false" aria-label="icon">exit_to_app</mat-icon>
</button>

